*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(58, 55, 55);
    color: white;
    padding: 15px;
}
.logo-img{
    width: 130px;
}
.menubar{
    display: flex;
    list-style: none;
}
.list-item{
    margin: 0px 20px;

}

/* This is the end of nav style */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(26, 21, 21),rgb(47, 43, 43));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.banner-p{
    margin: 15px 0px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}
.btn:hover{
    color: red;
    background-color: white;
}
.banner-img{
    height: 300px;
}

/* This is the end of banner section  */

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;
}
.about-text{
    margin-bottom: 70px;
}
.about-title{
    text-align: center;
    padding: 20px;
}
.about-h2{
    margin-bottom: 15px;
    font-size: 25px;

}
.about-btn{
    margin-top: 15px;
}

/* This is the end of About Section style  */
.service-section{
    background-image: url("./images/background.png"),linear-gradient(45deg,rgb(26, 21, 21),rgb(47, 43, 43));;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
}
.section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-box{
    border: 2px solid white;
    width: 250px;
    height: 300px;
    text-align: center;
    padding: 30px;
    box-shadow: 2px 2px 2px 3px  rgb(120, 119, 119);
}
.section-img{
    width: 120px;
    
}
.section-btn{
    background-color: rgb(42, 39, 39);
}
.section-h3{
    margin-top: 10px;
}

/* This is the end of service-section style  */

